{% extends "racesow/_base.html" %}

{% block content %}
    <h1>MGX Race</h1>
    <p>New website being constructed for racesow 1.5. This site contains statistics of a very old 1.0 database snapshot
        and the latest 1.5 statistics. Bugreports and suggestions can be posted <a
                href="http://www.warsow.net/forum/thread/16190">here</a>.<br>Planned features:</p>
    <ul>
        <li>
            Showing unified racetimes per map for versions 1.5 and 1.0. This way, all the hard work done on records in
            1.0 will not go to waste.
        </li>
        <li>
            New skill rating formula which takes into account the number of players that tried a map, the number of
            players who actually finished it and the time they needed for it.
        </li>
        <li>
            And more..
        </li>
    </ul>
    <div id="lastrecs">
        <h2>Last 20 races</h2>
        <table id="races">
            <tr class="tableheader">
                <td class="player">Player</td>
                <td class="map">Map</td>
                <td class="time">Time</td>
                <td class="datetime">Date</td>
            </tr>
            {% if races %}
                {% for race in races %}
                    <tr>
                        <td class="player">{{ race.player.htmlname|safe }}</td>
                        <td class="map">{{ race.map.name }}</td>
                        <td class="time">{{ race.time_formatted }}</td>
                        <td class="datetime">{{ race.last_played }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}

{% if debug and notice %}
    {% block notice %}{{ notice }}{% endblock notice %}
{% endif %}