{% extends "racesow/_base.html" %}

{% block content %}
    <h1>MGX Race</h1>
    <p>New website being constructed for Racesow 1.5.</p>
    <p>This site contains statistics of a very old 1.0 database snapshot and the latest 1.5 statistics.</p>

    <h4>Contact</h4>
    <p>Bugreports and suggestions can be posted <a href="http://www.warsow.net/forum/thread/16190">here</a>.</p>

    <h4>Planned features:</h4>
    <ul>
        <li>
            Showing unified racetimes per map for versions 1.5 and 1.0. This way, all the hard work done on records in
            1.0 will not go to waste.
        </li>
        <li>
            New skill rating formula which takes into account the number of players that tried a map, the number of
            players who actually finished it and the time they needed for it.
        </li>
        <li>
            And more..
        </li>
    </ul>

    <h4>Last 20 races</h4>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th>Player</th>
            <th>Map</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
        {% if races %}
            {% for race in races %}
                <tr>
                    <td class="player-name">{{ race.player.htmlname|safe }}</td>
                    <td>{{ race.map.name }}</td>
                    <td>{{ race.time_formatted }}</td>
                    <td>{{ race.last_played }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}

{% if debug and notice %}
    {% block notice %}
        {{ notice }}
    {% endblock notice %}
{% endif %}