{% extends "racesow/_base.html" %}

{% block content %}
    <h1>MGX Race</h1>
    <p>New website being constructed for Racesow 1.5.</p>
    <p>Website contains the latest race statistics for 1.5 and a snapshot of 1.0 statistics (taken at 17-02-2015).</p>
	<p>Update 22-07-2015: weapondefs have been finalized to 1.0-like settings and all maps with rockets have had their times removed.</p>

    <h4>Servers</h4>
    <p>Currently there is only 1 gameserver being maintained: <a href="http://dpmaster.deathmask.net/?game=warsow&server=mgxrace.net:44400" target="_blank">Racesow Server (BETA) - Ranked www.mgxrace.net</a>. Other servers running racesow or with MGX in their name are not maintained by us and do not send stats to this website.<p>

    <h4>Contact</h4>
    <p>Bugreports and suggestions can be posted <a href="http://www.warsow.net/forum/thread/16190">here</a>.</p>

    <h4>Planned features:</h4>
    <ul>
        <li>
            Showing unified racetimes per map for versions 1.5 and 1.0. This way, all the hard work done on records in
            1.0 will not go to waste.
        </li>
        <li>
            New skill rating formula which takes into account the number of players that tried a map, the number of
            players who actually finished it and the time they needed for it.
        </li>
        <li>
            And more..
        </li>
    </ul>

    <h4>Last 10 records</h4>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th>Map</th>
            <th>Player</th>
            <th>Time</th>
            <th>Type</th>
            <th><abbr title="Based on timezone {{ TIME_ZONE }}. Change in preferences">Date</abbr></th>
        </tr>
        {% if records %}
        {% load tags %}
            {% for record in records %}
                <tr>
                    <td><a href="{% url 'rs:mdn' record.map.id %}">{{ record.map.name }}</a></td>
                    <td class="player-name"><a href="{% url 'rs:pdn' record.player.id %}">{{ record.player.htmlname|safe }}</a></td>
                    <td>{{ record.time_formatted }}</td>
                    <td><span class="{% rank_to_class record.rank %}">{% rank_to_name record.rank %}</span></td>
                    <td><span data-toggle="tooltip" title="{{ record.created|date }}" data-placement="right">{% time_passed_since record.created %}</span></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}

{% if debug and notice %}
    {% block notice %}
        {{ notice }}
    {% endblock notice %}
{% endif %}
