{% extends "racesow/_base.html" %}
{% load tags %}
{% load humanize %}

{% block title %}
    {{ block.super }} - Mapstats
{% endblock title %}

{% block navigation-sub %}
    {% url 'rs:mln' as mnew %}
    {% url 'rs:mlo' as mold %}

    {% if map %}
        <ul class="nav nav-tabs">
            {% if version == "new" %}
                <li role="presentation" class="{% active_subpage request mnew %}">
                    <a>{% version_string "new" %}</a>
                </li>
                {% if map_other %}
                    <li role="presentation" class="{% active_subpage request mold %}">
                        <a href="{% url mapdetails_other mapid=map_other.id %}">{% version_string "old" %}</a>
                    </li>
                {% endif %}
            {% elif version == "old" %}
                {% if map_other %}
                    <li role="presentation" class="{% active_subpage request mnew %}">
                        <a href="{% url mapdetails_other mapid=map_other.id %}">{% version_string "new" %}</a>
                    </li>
                {% endif %}
                <li role="presentation" class="{% active_subpage request mold %}">
                    <a>{% version_string "old" %}</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock navigation-sub %}

{% block content %}
    {% if map %}
        <h3>Stats for map {{ map.name }}</h3>

        {% if map.longname %}
            <p>{{ map.htmlname|safe }}</p>
        {% endif %}

        <p>Time played: {{ map.playtime_formatted }}</p>

        {% if races %}
            {# Handle page stuff #}
            <div class="clearfix">
                {# Create table to show races for this map and version #}
                <table class="table table-bordered table-striped table-hover table-condensed">
                {% if version == "old" %}
                    <tr>
                        <th>
                            {% format_header "points" order as h_points %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_points.url %}">{{ h_points.title }}</a>
                        </th>
                        <th>
                            {% format_header "player" order as h_player %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_player.url %}">{{ h_player.title }}</a>
                        </th>
                        <th>
                            {% format_header "time" order as h_time %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_time.url %}">{{ h_time.title }}</a>
                        </th>
                        <th>
                            {% format_header "onlinetime" order as h_onlinetime %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_onlinetime.url %}">{{ h_onlinetime.title }}</a>
                        </th>
                        <th>
                            {% format_header "date" order as h_date %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_date.url %}">{{ h_date.title }}</a>
                        </th>
                    </tr>
                    {% for race in races %}
                        <tr>
                            <td>{{ race.get_points|floatformat:0 }}</td>
                            <td>
                                <a href={% url 'rs:pdo' race.player.id %}>{{ race.player.htmlname|safe }}</a>
                            </td>
                            <td>{{ race.time_formatted }}</td>
                            <td>{{ race.playtime_formatted }}</td>
                            <td>{{ race.get_date }}</td>
                        </tr>
                    {% endfor %}
                {% elif version == "new" %}
                    <tr>
                        <th>
                            {% format_header "points" order as h_points %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_points.url %}">{{ h_points.title }}</a>
                        </th>
                        <th>
                            {% format_header "player" order as h_player %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_player.url %}">{{ h_player.title }}</a>
                        </th>
                        <th>
                            {% format_header "time" order as h_time %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_time.url %}">{{ h_time.title }}</a>
                        </th>
                        <th>
                            {% format_header "playtime" order as h_playtime %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_playtime.url %}">{{ h_playtime.title }}</a>
                        </th>
                        <th>
                            {% format_header "date" order as h_date %}
                            <a href="{% url mapdetails mapid=map.id page=1 order=h_date.url %}">{{ h_date.title }}</a>
                        </th>
                    </tr>
                    {% for race in races %}
                        <tr>
                            <td>{{ race.get_points|floatformat:0 }}</td>
                            <td>
                                <a href={% url 'rs:pdn' race.player.id %}>{{ race.player.htmlname|safe }}</a>
                            </td>
                            <td>{{ race.time_formatted }}</td>
                            <td>{{ race.playtime_formatted }}</td>
                            <td>{{ race.get_date }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Error: unexpected version '{{ version }}'.</p>
                {% endif %}
                </table>

                <div class="pull-left">
                    <p>Displaying {{ races|length }} / {{ races.paginator.count }} races.</p>
                </div>

                <div class="pull-right">
                    {% with results=races next_url=mapdetails %}
                        {% include "racesow/elements/pagination_mapdetail.html" %}
                    {% endwith %}
                </div>
            </div>
        {% else %}
            <p>No times registered.</p>
        {% endif %}
    {% else %}
        <p>No such map.</p>
    {% endif %}
{% endblock %}

{% if debug and notice %}
    {% block notice %}
        {{ notice }}
    {% endblock notice %}
{% endif %}