{% extends "racesow/_base.html" %}
{% load tags %}
{% load humanize %}

{% block title %}
    {{ block.super }} - Maps
{% endblock title %}

{% block content %}{% spaceless %}
    <h1>Maps</h1>

    <div class="clearfix">
        <div class="table-search pull-right">
            {% include "racesow/elements/searchbox.html" with placeholder="Map" %}
        </div>
        {% if maps %}
            {# Print the version-specific maplist #}
            <table class="table table-bordered table-striped table-hover table-condensed">
            {% if version == "old" %}
                {# Name  Weapons  Races-  Playtime  DL  Long name #}
                <tr>
                    <th>
                        {% format_header "name" order as h_name %}
                        <a href="{% url maplist page=1 q=query order=h_name.url %}">{{ h_name.title }}</a>
                    </th>
                    <th>
                        {% format_header "weapons" order as h_weapons %}
                        <a href="{% url maplist page=1 q=query order=h_weapons.url %}">{{ h_weapons.title }}</a>
                    </th>
                    <th>
                        {% format_header "races" order as h_races %}
                        <a href="{% url maplist page=1 q=query order=h_races.url %}">{{ h_races.title }}</a>
                    </th>
                    <th>
                        {% format_header "playtime" order as h_playtime %}
                        <a href="{% url maplist page=1 q=query order=h_playtime.url %}">{{ h_playtime.title }}</a>
                    </th>
                    <th>DL</th>
                    <th>
                        {% format_header "long name" order as h_ln %}
                        <a href="{% url maplist page=1 q=query order=h_ln.url %}">{{ h_ln.title }}</a>
                    </th>
                </tr>
                {% for map in maps %}
                    <tr>
                        <td>
                            <a href={% url 'rs:mdo' map.id %}>{{ map.name }}</a>
                        </td>
                        <td class="weapon">{{ map.get_weapons|safe }}</td>
                        <td>{{ map.races }}</td>
                        <td>{{ map.playtime_formatted }}</td>
                        <td>pk3</td>
                        <td>{{ map.htmlname_short|safe }}</td>
                    </tr>
                {% endfor %}
            {% elif version == "new" %}
                {#  Name  Races-  Playtime  DL  Tags #}
                <tr>
                    <th>
                        {% format_header "name" order as h_name %}
                        <a href="{% url maplist page=1 q=query order=h_name.url %}">{{ h_name.title }}</a>
                    </th>
                    <th>
                        {% format_header "races" order as h_races %}
                        <a href="{% url maplist page=1 q=query order=h_races.url %}">{{ h_races.title }}</a>
                    </th>
                    <th>
                        {% format_header "playtime" order as h_playtime %}
                        <a href="{% url maplist page=1 q=query order=h_playtime.url %}">{{ h_playtime.title }}</a>
                    </th>
                    <th>DL</th>
                    <th>Tags</th>
                </tr>
                {% for map in maps %}
                    <tr>
                        <td>
                            <a href={% url 'rs:mdn' map.id %}>{{ map.name }}</a>
                        </td>
                        <td>{{ map.races }}</td>
                        <td>{{ map.playtime_formatted }}</td>
                        <td>pk3</td>
                        <td>
                            {% for tag in map.tags.all %}
                                {{ tag.name }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Error: unexpected version '{{ version }}'</p>
            {% endif %}
            </table>

            <div class="pull-left">
                <p>Displaying {{ maps|length }} / {{ maps.paginator.count }} maps.</p>
            </div>

            <div class="pull-right">
                {% with results=maps next_url=maplist %}
                    {% include "racesow/elements/pagination.html" %}
                {% endwith %}
            </div>
        {% else %}
            {% if query %}
                <p>No maps found.</p>
            {% else %}
                <p>No maps found for version '{{ version }}'.</p>
            {% endif %}
        {% endif %}
    </div>
{% endspaceless %}{% endblock content %}

{% if debug and notice %}
    {% block notice %}
        {{ notice }}
    {% endblock notice %}
{% endif %}