{% extends "racesow/_base.html" %}
{% load tags %}
{% load humanize %}

{% block title %}
    {{ block.super }} - Players
{% endblock title %}

{% block content %}{% spaceless %}
    <h1>Players</h1>

    {% if players %}
        {# Handle page stuff #}
        <div class="clearfix">
            <div class="table-search pull-right">
                {% include "racesow/elements/searchbox.html" with placeholder="Player" %}
            </div>

            {# Print the version-specific playerlist #}
            <table class="table table-bordered table-striped table-hover table-condensed">
            {% if version == "old" %}
                {# Name Points- Skill Maps Races Playtime #}
                <tr>
                    <th>
                        {% format_header "name" order as h_name %}
                        <a href="{% url playerlist page=1 q=query order=h_name.url %}">{{ h_name.title }}</a>
                    </th>
                    <th>
                        {% format_header "points" order as h_points %}
                        <a href="{% url playerlist page=1 q=query order=h_points.url %}">{{ h_points.title }}</a>
                    </th>
                    <th>
                        {% format_header "skill" order as h_skill %}
                        <a href="{% url playerlist page=1 q=query order=h_skill.url %}">{{ h_skill.title }}</a>
                    </th>
                    <th>
                        {% format_header "maps" order as h_maps %}
                        <a href="{% url playerlist page=1 q=query order=h_maps.url %}">{{ h_maps.title }}</a>
                    </th>
                    <th>
                        {% format_header "races" order as h_races %}
                        <a href="{% url playerlist page=1 q=query order=h_races.url %}">{{ h_races.title }}</a>
                    </th>
                    <th>
                        {% format_header "playtime" order as h_playtime %}
                        <a href="{% url playerlist page=1 q=query order=h_playtime.url %}">{{ h_playtime.title }}</a>
                    </th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>
                            <a href={% url 'rs:pdo' player.id %}>{{ player.htmlname|safe }}</a>
                        </td>
                        <td>{{ player.points }}</td>
                        <td>{{ player.skill|floatformat:2 }}</td>
                        <td>{{ player.maps }}</td>
                        <td>{{ player.races }}</td>
                        <td>{{ player.playtime_formatted }}</td>
                    </tr>
                {% endfor %}
            {% elif version == "new" %}
                {# Name Maps Races Playtime #}
                <tr>
                    <th class="name">
                        {% format_header "name" order as h_name %}
                        <a href="{% url playerlist page=1 q=query order=h_name.url %}">{{ h_name.title }}</a>
                    </th>
                    <th class="points">
                        {% format_header "points" order as h_points %}
                        <a href="{% url playerlist page=1 q=query order=h_points.url %}">{{ h_points.title }}</a>
                    </th>
                    <th class="points">
                        {% format_header "skill" order as h_skill %}
                        <a href="{% url playerlist page=1 q=query order=h_skill.url %}">{{ h_skill.title }}</a>
                    </th>
                    <th class="points">
                        {% format_header "maps" order as h_maps %}
                        <a href="{% url playerlist page=1 q=query order=h_maps.url %}">{{ h_maps.title }}</a>
                    </th>
                    <th class="points">
                        {% format_header "races" order as h_races %}
                        <a href="{% url playerlist page=1 q=query order=h_races.url %}">{{ h_races.title }}</a>
                    </th>
                    <th class="time">
                        {% format_header "playtime" order as h_playtime %}
                        <a href="{% url playerlist page=1 q=query order=h_playtime.url %}">{{ h_playtime.title }}</a>
                    </th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>
                            <a href={% url 'rs:pdn' player.id %}>{{ player.htmlname|safe }}</a>
                        </td>
                        <td>{{ player.get_points|floatformat:0 }}</td>
                        <td>{{ player.skill|floatformat:2 }}</td>
                        <td>{{ player.maps }}</td>
                        <td>{{ player.races }}</td>
                        <td>{{ player.playtime_formatted }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Error: unexpected version '{{ version }}'</p>
            {% endif %}
            </table>

            <div class="pull-left">
                <p>Displaying {{ players|length }} / {{ players.paginator.count }} players.</p>
            </div>

            <div class="pull-right">
                {% with results=players next_url=playerlist %}
                    {% include "racesow/elements/pagination.html" %}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <p>No players found for version '{{ version }}'.</p>
    {% endif %}
{% endspaceless %}{% endblock content %}

{% if debug and notice %}
    {% block notice %}
        {{ notice }}
    {% endblock notice %}
{% endif %}