{% extends "racesow/_base.html" %}{% load tags %}{% load humanize %}
{% block title %}{{ block.super }} - Playerstats{% endblock title %}

{% block navigation-sub %}
    <div id="navigation-sub">{% url 'rs:pln' as pnew%}{% url 'rs:plo' as pold %}
        <ul>
            <li class="{% active_subpage request pnew %}"><a href="{{ pnew }}">{% version_string "new" %}</a></li>
            <li class="{% active_subpage request pold %}"><a href="{{ pold }}">{% version_string "old" %}</a></li>
        </ul>
    </div>
{% endblock navigation-sub %}

{% block content %}{% spaceless %}
    {% if player %}
        <h3>Stats for player {{ player.htmlname|safe }}</h3>
        {% if player_other %}
            <p>Go to player in <a href="{% url playerdetails_other playerid=player_other.id %}">{% version_string version_other %}</a></p>
        {% endif %}
        <p>
            Points: {{ player.points }} <br>
            Skill: {{ player.skill|floatformat:2 }} <br>
            Races: {{ player.races }} <br>
            Maps played: {{ player.maps }} <br>
            Maps finished: {{ player.pmaps }}
        </p>
        {% if medals %}
            <p><span class="gold">Gold:</span> {{ medals.gold }}<br>
                <span class="silver">Silver:</span> {{ medals.silver }}<br>
                <span class="bronze">Bronze:</span> {{ medals.bronze }}</p>
        {% endif %}

        {% if pmaps %}<p>Displaying {{ pmaps|length }}/{{ pmaps.paginator.count }} maps.</p>{% endif %}

        {% include 'racesow/elements/searchbox_playerdetail.html' %}

        {% if pmaps %}
            {# Handle page stuff #}
            {% with results=pmaps next_url=playerdetails %}{% include "racesow/elements/pagination_playerdetail.html" %}{% endwith %}

            {# Print the version- and player-specific maplist #}
            <table id="maps">
            {% if version == "old" %}
                {#  Name  Points-  Time  Onlinetime Date  #}
                <tr class="tableheader">
                    <td class="name">
                        {% format_header "name" order as h_points %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_points.url %}">{{ h_points.title }}</a></td>
                    <td class="points">
                        {% format_header "points" order as h_player %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_player.url %}">{{ h_player.title }}</a></td>
                    <td class="time">
                        {% format_header "time" order as h_time %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_time.url %}">{{ h_time.title }}</a></td>
                    <td class="time">
                        {% format_header "onlinetime" order as h_onlinetime %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_onlinetime.url %}">{{ h_onlinetime.title }}</a></td>
                    <td class="datetime">
                        {% format_header "date" order as h_date %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_date.url %}">{{ h_date.title }}</a></td>
                </tr>
                {% for pmap in pmaps %}
                    <tr>
                        <td class="name mapurl"><a href={% url 'rs:mdo' pmap.map.id %}>{{ pmap.map.name }}</a></td>
                        <td class="points">{{ pmap.points }}</td>
                        <td class="time">{{ pmap.time_formatted }}</td>
                        <td class="time">{{ pmap.playtime_formatted }}</td>
                        <td class="datetime">{{ pmap.get_date }}</td>
                    </tr>
                {% endfor %}
            {% elif version == "new" %}
                {#  Name  Points  Time  Playtime Date  #}
                <tr class="tableheader">
                    <td class="name">
                        {% format_header "name" order as h_points %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_points.url %}">{{ h_points.title }}</a></td>
                    <td class="points">
                        {% format_header "points" order as h_player %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_player.url %}">{{ h_player.title }}</a></td>
                    <td class="time">
                        {% format_header "time" order as h_time %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_time.url %}">{{ h_time.title }}</a></td>
                    <td class="time">
                        {% format_header "playtime" order as h_playtime %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_playtime.url %}">{{ h_playtime.title }}</a></td>
                    <td class="datetime">
                        {% format_header "date" order as h_date %}
                        <a href="{% url playerdetails playerid=player.id page=1 q=query order=h_date.url %}">{{ h_date.title }}</a></td>
                </tr>
                {% for pmap in pmaps %}
                    <tr>
                        <td class="name mapurl"><a href={% url 'rs:mdn' pmap.map.id %}>{{ pmap.map.name }}</a></td>
                        <td class="points">{{ pmap.get_points }}</td>
                        <td class="time">{{ pmap.time_formatted }}</td>
                        <td class="time">{{ pmap.playtime_formatted }}</td>
                        <td class="datetime">{{ pmap.get_date }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Error: unexpected version '{{ version }}'.</p>
            {% endif %}
            </table>
        {% else %}
            <p>This player has not finished any maps yet.</p>
        {% endif %}
    {% else %}
        <p>No such player.</p>
    {% endif %}
{% endspaceless %}{% endblock content %}

{% if debug and notice %}
    {% block notice %}{{ notice }}{% endblock notice %}
{% endif %}