{% if results.paginator.num_pages > 1 %}
    <nav>
        <ul class="pagination">
            {% for page in pagebuttons %}
                {% if results.number != page and forloop.first %}
                    <li>
                        <a href="{% url next_url page=1 q=query order=order %}">
                            <i class="fa fa-fast-backward"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url next_url page=results.previous_page_number q=query order=order %}">
                            <i class="fa fa-backward"></i>
                        </a>
                    </li>
                {% endif %}
                <li {% if results.number == page %} class="active" {% endif %}>
                    <a href="{% url next_url page=page q=query order=order %}">{{ page }}</a>
                </li>
                {% if results.number != page and forloop.last %}
                    <li>
                        <a href="{% url next_url page=results.next_page_number q=query order=order %}">
                            <i class="fa fa-forward"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url next_url page=results.paginator.num_pages q=query order=order %}">
                            <i class="fa fa-fast-forward"></i>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}