{% if results.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="{% url next_url mapid=map.id page=results.previous_page_number order=order %}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>
        {% if results.has_next %}
            <a href="{% url next_url mapid=map.id page=results.next_page_number order=order %}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}