/*****************************************************************
 * Reset Bootstrap defaults
 ****************************************************************/
h1, h2, h3, h4, h5
  margin: 0
  padding: 10px 0 10px 0

.navbar
  min-height: 0px
  margin-bottom: 0

.pagination
  margin-top: 0

  li a i
    color: #333

.table
  margin-bottom: 5px

/******************************
 * Form styles
 *****************************/
.form-control
  height: auto
  border: 1px solid #fff
  border-radius: 0

.btn
  border-radius: 0

/*****************************************************************
 * Base styles
 ****************************************************************/
body
  background-color: #221626

/******************************
 * Head styles
 *****************************/
.page-head
  width: 100%

  .page-title-bar
    height: 106px
    padding: 10px 0 10px 0
    background-color: #221626

  .page-nav-bar
    padding: 10px 0 10px 0
    background-color: #2F2831

    .nav-pills
      li
        a
          color: #ddd
        a.disabled
          color: #777
        ul.dropdown-menu li a:hover
          color: #333

      li.active
        a
          color: #fff

      li.dropdown:hover > ul.dropdown-menu
        display: block
        margin-top: 0

/******************************
 * Content styles
 *****************************/
.page-content
  padding: 10px 0 10px 0
  background-color: #3e3a46

  .nav-tabs
    li
      a
        color: #ddd
    li.active
      a
        color: #fff
      a:hover
        cursor: pointer

  .table a
    color: #fff

  .table-search
    margin-bottom: 5px
    padding-right: 1px

  .pager-link
    color: #fff

/******************************
 * Foot styles
 *****************************/
.page-foot
  min-height: 80px
  text-align: center
  padding: 20px 0
  background-color: #221626

/*****************************************************************
 * Util styles
 ****************************************************************/
.medal-gold
  color: #ff0

.medal-silver
  color: #ddd

.medal-bronze
  color: #fa3
