/*****************************************************************
 * Reset Bootstrap defaults
 ****************************************************************/
h1, h2, h3, h4, h5
  margin: 0
  padding: 10px 0 10px 0

.navbar
  min-height: 0px
  margin-bottom: 0

/*****************************************************************
 * Base styles
 ****************************************************************/
body
  background-color: #221626

/******************************
 * Head styles
 *****************************/
.page-head
  width: 100%

  .page-title-bar
    height: 106px
    padding: 10px 0 10px 0
    background-color: #221626

  .page-nav-bar
    padding: 10px 0 10px 0
    background-color: #2F2831

    .nav-pills
      li
        a
          color: #ddd
        a.disabled
          color: #777
      li.active
        a
          color: #fff

/******************************
 * Content styles
 *****************************/
.page-content
  padding: 10px 0 10px 0
  background-color: #3e3a46

  .nav-tabs
    li
      a
        color: #ddd
    li.active
      a
        color: #fff
      a:hover
        cursor: pointer

  .table a
    color: #fff

/******************************
 * Foot styles
 *****************************/
.page-foot
  height: 55px
  text-align: center
  padding: 10px 0
  background-color: #221626

/*****************************************************************
 * Util styles
 ****************************************************************/
.medal-gold
  color: #ff0

.medal-silver
  color: #ddd

.medal-bronze
  color: #fa3
